################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/auth/.vs/bcc-auth
/auth/Bcc.Auth/bin
/auth/Bcc.Auth/obj
/auth/Bcc.Auth.Stores.Raven/bin
/auth/Bcc.Auth.Stores.Raven/obj
/auth/bin/Debug
/auth/obj
/auth/Bcc.Auth.Server/bin
/auth/Bcc.Auth.Server/obj